<div id="assist" class="container stat">
  <div class="row">
    <h2 class="col-4">Assist Stats</h2>
  </div>
  <div class="row">
    <table id="table">
      <tr>
        <th>Player Name</th>
        <th>Amount of Assists</th>
      </tr>
      <% for player in @team.players_on_team %>
        <tr>
          <td><%= player.name %></td>
          <td><%= Assist.where(game: @game_id, player: player).count %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
