<div id="dig" class="container stat">
  <div class="row">
    <h2 class="col-3">Dig Stats</h2>
    <table id="table">
      <tr>
        <th>Player Name</th>
        <th>Amount of Digs</th>
      </tr>
      <% for player in @team.players_on_team %>
        <tr>
          <td><%= player.name %></td>
          <td><%= Dig.where(game: @game_id, player: player).count %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
