<div id="hit" class="container stat">
  <div class="row">
    <h2 class="col-3">Hit Stats</h2>
  </div>
  <div class="row">
    <table id="table">
      <tr>
        <th><b>Player Name</b></th>
        <th><b>Amount of Hits</b></th>
        <th><b>Hitting Percentage</b></th>
      </tr>
      <% for player in @team.players_on_team %>
        <tr>
          <td><%= player.name %></td>
          <td><%= Hit.where(game: @game_id, player: player).count %></td>
          <% if Hit.where(game: @game_id, player: player).count == 0 %>
            <td>0</td>
          <% else %>
            <td><%= sprintf('%.2f', (((Hit.where(game: @game_id, player: player, level: 3).count - Hit.where(game: @game_id, player: player, level: 1).count)).fdiv(Hit.where(game: @game_id, player: player).count))*100) %>%</td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
