<div id="pass" class="container stat">
  <div class="row">
    <h2 class="col-3">
      Pass Stats
    </h2>
    <p class="col-9">
      Passes are rated on a 3-0 scale. 3 is perfect,
      2 means a middle could be run, and 1 means only
      one hitter can hit. 0 is obviously a loss of point.
    </p>
  </div>
  <div class="row">
    <table id="table">
      <tr>
        <th>Player Name</th>
        <th># of Passes</th>
        <th>Average Level</th>
      </tr>
      <% for player in @team.players_on_team %>
        <tr>
          <td><%= player.name %></td>
          <td><%= Pass.where(game: @game_id, player: player).count %></td>
          <td><%= Pass.where(game: @game_id, player: player).average(:level) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
