<div class="container">
  <table id="table">
    <tr>
      <th>Player Name</th>
      <th>Age</th>
      <th>Height</th>
    </tr>
    <% for player in @team.players_on_team %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= player.height %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to "Add player", new_player_path, :class => "button player-button" %>
</div>
