<div id="serve" class="container stat">
  <div class="row">
    <h2 class="col-4">
      Serve Stats
    </h2>
    <p class="col-8">
      Service Percentage is calculated by Aces being 1, attempts being 0, and
      errors being -1. Thus it is more of a percentage of ace per serve.
    </p>
  </div>
  <div class="row">
    <table id="table">
      <tr>
        <th>Player Name</th>
        <th># of Serves</th>
        <th>Serving Percentage</th>
      </tr>
      <% for player in @team.players_on_team %>
        <tr>
          <td><%= player.name %></td>
          <td><%= Serve.where(game: @game_id, player: player).count %></td>
          <% if Serve.where(game: @game_id, player: player).count == 0 %>
            <td>0</td>
          <% else %>
            <td><%= sprintf('%.2f', (((Serve.where(game: @game_id, player: player, level: 3).count - Serve.where(game: @game_id, player: player, level: 1).count)).fdiv(Serve.where(game: @game_id, player: player).count))*100) %>%</td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
