<div class="container">
  <h1>Teams</h1>
  <table id="table">
    <tr>
      <th>Team Name</th>
      <th>Age</th>
      <th>Team Size</th>
      <th>Player/Stats</th>
      <th>Delete</th>
    </tr>
  <% for team in @teams %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.age %></td>
      <td><%= team.team_size %></td>
      <td><%= link_to "View", team_path(team) %></td> <!-- TODO: Change this to better wording -->
      <td><%= link_to "Delete",  team_path(team), :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  <br>
<%= link_to "Create New Team", new_team_path, class: "button team-button" %>
</div>
