<div class="container">
  <div class="row">
    <h1 class="col-12">Create New Team</h1>
  </div>
  <div class="row new-border">
    <%= form_for :team, url: teams_path do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :age_group %>:
        <%= f.number_field :age %>
      </p>
      <p>
        <%= f.submit "New Team", :class => "button" %>
      </p>
    <% end %>
  </div>
</div>
