<div class="container">
  <div class="row">
    <h1 class="col-6"><%= @team.name %></h1>
    <h3 class="col-3">Age Group: </h3>
    <h3 class="col-1"><%= @team.age %></h3>
  </div>
  <div class="row">
    <%= form_tag "#{@team.id}", method: :get do %>
      <% games_array = Game.where(home_team: @team.id).or(Game.where(away_team: @team.id)).all.map { |game| [game.name, game.id] } %>
      Game: <%= select_tag :game_id, options_for_select(games_array) %>
      <%= submit_tag 'search' %>
    <% end %>
  </div>
  <div id="test" class="row" value="players">
    <%= render partial: "players.html.erb" %>
  </div>
  <% if @game_id != nil %>
    <h2>
      <%= Game.find(@game_id).name %> Statistics
    </h2>
    <p>
      Click a button to see those stats for the game.
    </p>
    <div class="row">
      <button class="button stat-button col-2" onclick="displayStat('dig')">Dig Stats</button>
      <button class="button stat-button col-2" onclick="displayStat('pass')">Pass Stats</button>
      <button class="button stat-button col-2" onclick="displayStat('serve')">Serve Stats</button>
      <button class="button stat-button col-2" onclick="displayStat('hit')">Hit Stats</button>
      <button class="button stat-button col-2" onclick="displayStat('block')">Block Stats</button>
      <button class="button stat-button col-2" onclick="displayStat('assist')">Assist Stats</button>
      <%= render partial: "digs.html.erb" %>
      <%= render partial: "passes.html.erb" %>
      <%= render partial: "serves.html.erb" %>
      <%= render partial: "hits.html.erb" %>
      <%= render partial: "blocks.html.erb" %>
      <%= render partial: "assists.html.erb" %>
    </div>
  <% end %>
</div>
