<div class="container">
  <h1>Passes</h1>
  <div class="row">
    <p class="col-2">Player Name</p>
    <p class="col-2">level of pass</p>
    <p class="col-2">Game</p>
  </div>
  <% for pass in @passes %>
    <div class="row">
      <p class="col-2"><%= pass.player_name %></p>
      <p class="col-2"><%= pass.level_of_pass %></p>
      <p class="col-2"><%= pass.game_date %></p>
    </div>
  <% end %>
</div>
