/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* line 16, C:/Sites/MetaSports/app/assets/stylesheets/application.sass */
.navigation-bar {
  background: brown;
  text-transform: uppercase;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  height: 70px;
  line-height: 3;
  font-size: 20px;
}

/* line 24, C:/Sites/MetaSports/app/assets/stylesheets/application.sass */
img.logo-header {
  padding-top: 1px;
}

/* line 27, C:/Sites/MetaSports/app/assets/stylesheets/application.sass */
a.button:hover {
  background-color: green;
  height: 70px;
}

/* line 31, C:/Sites/MetaSports/app/assets/stylesheets/application.sass */
a.header {
  color: white;
  shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* line 36, C:/Sites/MetaSports/app/assets/stylesheets/application.sass */
h3.logo {
  color: white;
}
