/* line 5, C:/Sites/MetaSports/app/assets/stylesheets/games.scss */
.col-1 {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 10, C:/Sites/MetaSports/app/assets/stylesheets/games.scss */
.team {
  text-align: center;
}

/* line 14, C:/Sites/MetaSports/app/assets/stylesheets/games.scss */
.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 28, C:/Sites/MetaSports/app/assets/stylesheets/games.scss */
.value-button:hover {
  cursor: pointer;
}

/* line 32, C:/Sites/MetaSports/app/assets/stylesheets/games.scss */
#decrease {
  border-radius: 8px 8px 8px 8px;
}

/* line 36, C:/Sites/MetaSports/app/assets/stylesheets/games.scss */
#increase {
  border-radius: 8px 8px 8px 8px;
}

/* line 40, C:/Sites/MetaSports/app/assets/stylesheets/games.scss */
#input-wrap {
  margin: 0px;
  padding: 0px;
}

/* line 45, C:/Sites/MetaSports/app/assets/stylesheets/games.scss */
#number {
  text-align: center;
  margin: 0px;
  width: 100%;
}

/* line 51, C:/Sites/MetaSports/app/assets/stylesheets/games.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
