/* line 5, C:/Sites/MetaSports/app/assets/stylesheets/home.scss */
.game {
  color: lightblue;
}

/* line 10, C:/Sites/MetaSports/app/assets/stylesheets/home.scss */
.bg-modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}

/* line 22, C:/Sites/MetaSports/app/assets/stylesheets/home.scss */
.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
}
