<div class="container">
  <h1>Serves</h1>
  <div class="row">
    <p class="col-2">Player Name</p>
    <p class="col-2">Type of Serve</p>
    <p class="col-2">Game</p>
  </div>
  <% for serve in @serves %>
    <div class="row">
      <p class="col-2"><%= serve.player_name %></p>
      <p class="col-2"><%= serve.type_of_serve %></p>
      <p class="col-2"><%= serve.game_date %></p>
    </div>
  <% end %>
</div>
