<h1>Test Serves</h1>
<%= form_for :serve, url: serves_path do |f| %>
  <p>
    <%= f.label :player %><br>
    <%= f.collection_select :player, Player.all, :id, :name %>
  </p>
  <p>
    <%= f.label :game %><br>
    <%= f.collection_select :game, Game.all, :id, :created_at %>
  </p>
  <p>
    <%= f.label :level_of_serve %><br>
    <%= f.number_field :level %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
