<div class="container">
  <h1>Hits</h1>
  <div class="row">
    <p class="col-2">Player Name</p>
    <p class="col-2">Type of Hit</p>
    <p class="col-2">Game</p>
  </div>
  <% for hit in @hits %>
    <div class="row">
      <p class="col-2"><%= hit.player_name %></p>
      <p class="col-2"><%= hit.type_of_hit %></p>
      <p class="col-2"><%= hit.game_date %></p>
    </div>
  <% end %>
</div>
