<h2>Users</h2>
<table>
  <tr>
    <th>User</th>
    <th>Team</th>
    <th>Need to be Added</th>
  </tr>
  <% #@users.each do |user| %>
  <tr>
    <td>user.title</td>
    <td>user.team</td>
    <td>This needs to be looped for all users</td>
  </tr>
  <% #end %>
</table>
