<div class="container">
  <h1>Digs</h1>
  <div class="row">
    <p class="col-2">Player Name</p>
    <p class="col-2">Game</p>
  </div>
  <% for dig in @digs %>
    <div class="row">
      <p class="col-2"><%= dig.player_name %></p>
      <p class="col-2"><%= dig.game_date %></p>
    </div>
  <% end %>
</div>
