<h1>Test Digs</h1>
<%= form_for :dig, url: digs_path do |f| %>
  <p>
    <%= f.label :player %><br>
    <%= f.collection_select :player, Player.all, :id, :name %>
  </p>
  <p>
    <%= f.label :game %><br>
    <%= f.collection_select :game, Game.all, :id, :created_at %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
