<div class="container">
  <div class="row new-border title">
    <h2 class="col-12 text-center">Welcome</h2>
    <h3 class="col-12 text-center">to</h3>
    <h2 class="col-12 text-center">Meta Sports</h2>
  </div>
  <div class="row">
    <br>
    <p>
      This application will allow for a volleyball coach, player, or parent to keep
      statistics during a fast pase volleyball match. The statistics will be automatically
      processed and returned to the user. This application is able to be used on computer, tablet, and smart phone.
    </p>
  </div>
  <div class="row stat-border text-center">
    <h1 class="col-12">Michael Olenchuk's Thesis</h1>
    <h2 class="col-12">An Exploration in Software Development</h2>
  </div>
  <div class="row">
    <h3 class="col-12">• What is a Software Developer in a profesional view?</h3>
    <h5 class="col-12">Freelancer VS. Company Developer</h5>
    <h3 class="col-12">• How does a Company Developer Put an Idea into Development?</h3>
    <h5 class="col-12">Paper with Overview of Software Idea</h5>
    <h5 class="col-12">Predictions for Costs and Time</h5>
    <h5 class="col-12">Beginning Requirments for the Software</h5>
    <h5 class="col-12">Present to the Board</h5>
    <h3 class="col-12">• Process of Development</h3>
    <h5 class="col-12">Tracking of Time: Three different Methods</h5>
    <p class="col-12">Tickets, Timeline, Changes</p>
    <h3 class="col-12">• Final Product Review</h3>
    <h5 class="col-12">Meta Sports Product Review</h5>
  </div>
</div>
