<div class="container">
  <h1>Assists</h1>
  <div class="row">
    <p class="col-2">Player Name</p>
    <p class="col-2">Game</p>
  </div>
  <% for assist in @assists %>
    <div class="row">
      <p class="col-2"><%= assist.player_name %></p>
      <p class="col-2"><%= assist.game_date %></p>
    </div>
  <% end %>
</div>
