<div class="container">
  <h1>Blocks</h1>
  <div class="row">
    <p class="col-2">Player Name</p>
    <p class="col-2">Game</p>
  </div>
  <% for block in @blocks %>
    <div class="row">
      <p class="col-2"><%= block.player_name %></p>
      <p class="col-2"><%= block.game_date %></p>
    </div>
  <% end %>
</div>
