<div class="container">
  <h1>Games</h1>
  <table id="table">
    <tr>
      <th>Home Team</th>
      <th></th>
      <th>Away Team</th>
      <th>Run/Resume</th>
      <th>Delete</th>
    </tr>
    <% for game in @games %> <!-- In writen rails to call on database -->
      <tr>
        <td><%= game.homeTeamName %></td>
        <td>vs.</td>
        <td><%= game.awayTeamName %></td>
        <td><%= link_to "Start/Resume", game_path(game)%></td> <!-- TODO: Change this to better wording -->
        <td><%= link_to "Delete",  game_path(game), :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to "Create New Game", new_game_path, class: "button game-button" %>
</div>
