<div class="container">
  <div class="row">
    <h1 class="col-12">Create New Game</h1>
  </div>
  <div class="row new-border">
    <%= form_for :game, url: games_path do |f| %>
      <p>
        <%= f.label :home_team %><br>
        <%= f.collection_select :home_team, Team.all, :id, :name %>
      </p>
      <p>
        <%= f.label :away_team %><br>
        <%= f.collection_select :away_team, Team.all, :id, :name %>
      </p>
      <%= f.hidden_field :home_score, value: 0 %>
      <%= f.hidden_field :away_score, value: 0 %>
      <p>
        <%= f.submit "New Game", :class => "button" %>
      </p>
    <% end %>
  </div>
</div>
