<%= stylesheet_link_tag "games" %>

<div class="container">
  <div class="game-border">
    <h1>Game</h1>
    <div class="row team">
      <div class="col-4">
        <h3><%= @game.homeTeamName %></h3>
        <p>Home Team</p>
      </div>
      <div class="col-1">
        <%= link_to '▲', game_increaseHomeScore_path(@game.id), :id => "increase", :class => "value-button"%>
        <div id="number"><%= @game.home_score %></div>
        <%= link_to '▼', game_decreaseHomeScore_path(@game.id), :id => "decrease", :class => "value-button"%>
      </div>
      <div class="offset-1 col-1">
        <%= link_to '▲', game_increaseAwayScore_path(@game.id), :id => "increase", :class => "value-button"%>
        <div id="number"><%= @game.away_score %></div>
        <%= link_to '▼', game_decreaseAwayScore_path(@game.id), :id => "decrease", :class => "value-button"%>
      </div>
      <div class="col-4">
        <h3><%= @game.awayTeamName %></h3>
        <p> Away Team</p>
      </div>
    </div>
  </div>
 <%= render 'players/stats' %>
</div>
