<div class="stat-border">
  <h1>Team's Stats</h1>
  <div class="container">
    <div class="row">
      <h2 class="col-12 col-md-6"><%= @game.homeTeam.name %></h2>
      <h2 class="col-md-6 hidden-sm"><%= @game.awayTeam.name %></h2>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <% @game.homeTeam.players_on_team.each do | player | %>
        <div id="<%= player.id %>dig" class="bg-modal">
          <%= form_for :dig, :class => "modal-content", url: digs_path, remote: true do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.submit "dig", :onclick => "closePopUp('#{player.id}dig')", data: { disable_with: false }, class: "button stat-button", disable: false%>
            </p>
          <% end %>
        </div>
        <div id="<%= player.id %>assist" class="bg-modal">
          <%= form_for :assist, url: assists_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.submit "assist", :onclick => "closePopUp('#{player.id}assist')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
          <% end %>
        </div>
        <div id="<%= player.id %>block" class="bg-modal">
          <%= form_for :block, url: blocks_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.submit "block", :onclick => "closePopUp('#{player.id}block')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
          <% end %>
        </div>
        <div id="<%= player.id %>pass" class="bg-modal">
          <div>
            <%= form_for :pass, url: passes_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 3 %>
              <%= f.submit "3", :onclick => "closePopUp('#{player.id}pass')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :pass, url: passes_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 2 %>
              <%= f.submit "2", :onclick => "closePopUp('#{player.id}pass')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :pass, url: passes_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 1 %>
              <%= f.submit "1", :onclick => "closePopUp('#{player.id}pass')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :pass, url: passes_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 0 %>
              <%= f.submit "0", :onclick => "closePopUp('#{player.id}pass')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
          </div>
        </div>
        <div id="<%= player.id %>serve" class="bg-modal">
          <div>
            <%= form_for :serve, url: serves_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 3 %>
              <%= f.submit "Ace", :onclick => "closePopUp('#{player.id}serve')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :serve, url: serves_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 2 %>
              <%= f.submit "Attempt", :onclick => "closePopUp('#{player.id}serve')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :serve, url: serves_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 1 %>
              <%= f.submit "Error", :onclick => "closePopUp('#{player.id}serve')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
          </div>
        </div>
        <div id="<%= player.id %>hit" class="bg-modal">
          <div>
            <%= form_for :hit, url: hits_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 3 %>
              <%= f.submit "Kill", :onclick => "closePopUp('#{player.id}hit')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :hit, url: hits_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 2 %>
              <%= f.submit "Attempt", :onclick => "closePopUp('#{player.id}hit')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :hit, url: hits_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 1 %>
              <%= f.submit "Error", :onclick => "closePopUp('#{player.id}hit')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
          </div>
        </div>
        <div class="box row" draggable="true" ondragstart="drag(event, this)" ondrop="drop(event, this)" ondragover="allowDrop(event)">
          <p class="col-3"><%= player.name %></p>
          <div class="col-9">
            <div class="row">
              <button class="stat-button game-stat col-2 col-md-3 col-lg-2" onclick="popUp('<%= player.id %>dig')">Dig</button>
              <button class="stat-button game-stat col-3 col-md-4 col-lg-3" onclick="popUp('<%= player.id %>assist')">Assist</button>
              <button class="stat-button game-stat col-3 col-md-4 col-lg-3" onclick="popUp('<%= player.id %>block')">Block</button>
              <button class="stat-button game-stat col-2 col-md-3 col-lg-3 col-xl-2 col-xs-3" onclick="popUp('<%= player.id %>pass')">Pass</button>
              <button class="stat-button game-stat col-3 col-md-4 col-lg-3" onclick="popUp('<%= player.id %>serve')">Serve</button>
              <button class="stat-button game-stat col-2 col-md-3 col-lg-2" onclick="popUp('<%= player.id %>hit')">Hit</button>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <h2 class="col-12 show-sm"><%= @game.awayTeam.name %></h2>
      <div class="col-12 col-md-6">
        <% @game.awayTeam.players_on_team.each do | player | %>
        <div id="<%= player.id %>dig" class="bg-modal">
          <%= form_for :dig, :class => "modal-content", url: digs_path, remote: true do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.submit "dig", :onclick => "closePopUp('#{player.id}dig')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
          <% end %>
        </div>
        <div id="<%= player.id %>assist" class="bg-modal">
          <%= form_for :assist, url: assists_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.submit "assist", :onclick => "closePopUp('#{player.id}assist')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
          <% end %>
        </div>
        <div id="<%= player.id %>block" class="bg-modal">
          <%= form_for :block, url: blocks_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.submit "block", :onclick => "closePopUp('#{player.id}block')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
          <% end %>
        </div>
        <div id="<%= player.id %>pass" class="bg-modal">
          <div>
            <%= form_for :pass, url: passes_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 3 %>
              <%= f.submit "3", :onclick => "closePopUp('#{player.id}pass')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :pass, url: passes_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 2 %>
              <%= f.submit "2", :onclick => "closePopUp('#{player.id}pass')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :pass, url: passes_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 1 %>
              <%= f.submit "1", :onclick => "closePopUp('#{player.id}pass')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :pass, url: passes_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 0 %>
              <%= f.submit "0", :onclick => "closePopUp('#{player.id}pass')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
          </div>
        </div>
        <div id="<%= player.id %>serve" class="bg-modal">
          <div>
            <%= form_for :serve, url: serves_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 3 %>
              <%= f.submit "Ace", :onclick => "closePopUp('#{player.id}serve')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :serve, url: serves_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 2 %>
              <%= f.submit "Attempt", :onclick => "closePopUp('#{player.id}serve')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :serve, url: serves_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 1 %>
              <%= f.submit "Error", :onclick => "closePopUp('#{player.id}serve')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
          </div>
        </div>
        <div id="<%= player.id %>hit" class="bg-modal">
          <div>
            <%= form_for :hit, url: hits_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 3 %>
              <%= f.submit "Kill", :onclick => "closePopUp('#{player.id}hit')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :hit, url: hits_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 2 %>
              <%= f.submit "Attempt", :onclick => "closePopUp('#{player.id}hit')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
            <%= form_for :hit, url: hits_path do |f| %>
            <p>
              <%= f.hidden_field :player, value: player.id %>
              <%= f.hidden_field :game, value: @game.id %>
              <%= f.hidden_field :level, value: 1 %>
              <%= f.submit "Error", :onclick => "closePopUp('#{player.id}hit')", data: { disable_with: false }, class: "button stat-button"%>
            </p>
            <% end %>
          </div>
        </div>
        <div class="box row" draggable="true" ondragstart="drag(event, this)" ondrop="drop(event, this)" ondragover="allowDrop(event)">
          <p class="col-3"><%= player.name %></p>
          <div class="col-9">
            <div class="row">
              <button class="stat-button game-stat col-2 col-md-3 col-lg-2" onclick="popUp('<%= player.id %>dig')">Dig</button>
              <button class="stat-button game-stat col-3 col-md-4 col-lg-3" onclick="popUp('<%= player.id %>assist')">Assist</button>
              <button class="stat-button game-stat col-3 col-md-4 col-lg-3" onclick="popUp('<%= player.id %>block')">Block</button>
              <button class="stat-button game-stat col-2 col-md-3 col-lg-3 col-xl-2 col-xs-3" onclick="popUp('<%= player.id %>pass')">Pass</button>
              <button class="stat-button game-stat col-3 col-md-4 col-lg-3" onclick="popUp('<%= player.id %>serve')">Serve</button>
              <button class="stat-button game-stat col-2 col-md-3 col-lg-2" onclick="popUp('<%= player.id %>hit')", data: { disable_with: false }>Hit</button>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
