<div class="container">
  <h1>Players</h1>
  <p> For players by team, you should go to the teams tab. Select view on your
    players team and a list of all players on that team will appear. </p>
  <table id="table">
    <tr>
      <th>Player Name</th>
      <th>Age</th>
      <th>Height</th>
      <th>Team</th>
      <th>Player Stats</th>
      <th>Delete</th>
    </tr>
    <% for player in @players %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= player.height %></td>
        <td><%= player.team_name %></td>
        <td><%= link_to "Stats", player_path(player) %></td>
        <td><%= link_to "Delete",  player_path(player), :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to "Create New Player", new_player_path, :class => "button player-button" %>
</div>
