<div class="container">
  <div class="row">
    <h1 class="col-12">Create a New Player</h1>
  </div>
  <div class="row new-border">
    <%= form_for :player, url: players_path do |f| %>
      <p>
        <%= f.label :Name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :age %>
        <%= f.number_field :age %>
      </p>
      <p>
        <%= f.label :height %>
        <%= f.text_field :height %>
      </p>
      <p>
        <%= f.label :team %>
        <%= f.collection_select :team, Team.all, :id, :name %>
      </p>
      <p>
        <%= f.submit "New Player", :class => "button" %>
      </p>
    <% end %>
  </div>
</div>
