<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <h1 class="col-12"><%= @player.name %></h1>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <h3 class="col-2">Age: </h3>
        <h3 class="col-3"><%= @player.age %></h3>
        <h3 class="col-3">height: </h3>
        <h3 class="col-3"><%= @player.height %></h3>
      </div>
      <div class="row">
        <h3 class="col-3">Team: </h3>
        <h3 class="col-8"><%= @player.team_name %>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Totals of All Stats</h2>
    <table id="table">
      <tr>
        <th>Digs</th>
        <th>Assists</th>
        <th>Blocks</th>
        <th>Passes</th>
        <th>Average Passing Level</th>
        <th>Serves</th>
        <th>Serving Percentage</th>
        <th>His</th>
        <th>Hiting Percentage</th>
      </tr>
      <tr>
        <td><%= Dig.where(player: @player.id).count %></td>
        <td><%= Assist.where(player: @player.id).count %></td>
        <td><%= Block.where(player: @player.id).count %></td>
        <td><%= Pass.where(player: @player.id).count %></td>
        <td><%= Pass.where(player: @player.id).average(:level) %></td>
        <td><%= Serve.where(player: @player.id).count %></td>
        <% if Serve.where(player: @player.id).count == 0 %>
          <td>0</td>
        <% else %>
          <td><%= (((Serve.where(player: @player.id, level: 3).count - Serve.where(player: @player.id, level: 1).count)).fdiv(Serve.where(player: @player.id).count))*100 %>%</td>
        <% end %>
        <td><%= Hit.where(player: @player.id).count %></td>
        <% if Hit.where(player: @player.id).count == 0 %>
          <td>0</td>
        <% else %>
          <td><%= (((Hit.where(player: @player.id, level: 3).count - Hit.where(player: @player.id, level: 1).count)).fdiv(Hit.where(player: @player.id).count))*100 %>%</td>
        <% end %>
      </tr>
    </table>
    <h2>Averages Per Game</h2>
    <table id="table">
      <tr>
        <th>Digs</th>
        <th>Assists</th>
        <th>Blocks</th>
        <th>Average Passing Level</th>
        <th>Serving Percentage</th>
        <th>Hiting Percentage</th>
      </tr>
      <tr>
        <td><%= Dig.where(player: @player.id).count/@player.games %></td>
        <td><%= Assist.where(player: @player.id).count/@player.games %></td>
        <td><%= Block.where(player: @player.id).count/@player.games %></td>
        <td><%= Pass.where(player: @player.id).average(:level)/@player.games %></td>
        <% if Serve.where(player: @player.id).count == 0 %>
          <td>0</td>
        <% else %>
          <td><%= ((((Serve.where(player: @player.id, level: 3).count - Serve.where(player: @player.id, level: 1).count)).fdiv(Serve.where(player: @player.id).count))).fdiv(@player.games)*100 %>%</td>
        <% end %>
        <% if Hit.where(player: @player.id).count == 0 %>
          <td>0</td>
        <% else %>
          <td><%= ((((Hit.where(player: @player.id, level: 3).count - Hit.where(player: @player.id, level: 1).count)).fdiv(Hit.where(player: @player.id).count)).fdiv(@player.games))*100 %>%</td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
