// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-1 {
  padding-left: 0px;
  padding-right: 0px;
}

.game-stat {
  background-color: #C0C0C0;
  padding: 10px 50px 10px 29px;
}
button.game-stat:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #C0C0C0;
  color: white;
  cursor: pointer;
}
input.stat-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #C0C0C0;
  color: white;
  cursor: pointer;
}

.game-border {
  border-style: solid;
  border-color: brown;
  border-width: 5px;
}

.team {
  text-align: center
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

#decrease {
  border-radius: 8px 8px 8px 8px;
}

#increase {
  border-radius: 8px 8px 8px 8px;
}

#input-wrap {
  margin: 0px;
  padding: 0px;
}

#number {
  text-align: center;
  margin: 0px;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.game-button {
  font-weight: bold;
}
