// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stat-border {
  border-style: solid;
  border-color: #4CAF50;
  border-width: 5px;
}

.bg-modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
}

html, body {
    height: 100%;
    width: 100%;
}
.box {
    border: 2px solid black;
    font-size: 17px;
    cursor: grab;
}

@media only screen and (max-width: 767px) {
    .hidden-sm {
        display: none;
    }
}
@media only screen and (min-width: 767px) {
    .show-sm {
        display: none;
    }
}

.player-button {
  font-weight: bold;
}
