// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.stat {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
}

.team-button {
  font-weight: bold;
}

button.button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

input.button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

.stat-button {
  border-radius: 25px 25px 25px 25px;
  border-width: 0px;
  padding: 15px 32px 15px 32px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.4);
}

.new-border {
  border-style: solid;
  border-color: brown;
  border-width: 5px;
}
